.header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}
.header + div {
    margin-top: 80px; /* Adjust this value to match the height of your header */
}
.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    height: 40px;
    margin-right: 10px;
}

.header-nav {
    display: flex;
    gap: 20px;
}

.header-nav a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.header-nav a.active,
.header-nav a:hover {
    color: #e02020; /* Active color */
    border-bottom: 2px solid #e02020; /* Underline active link */
}

.header-icons {
    display: flex;
    gap: 15px;
}

.header-icons button {
    background: none;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
    color: #2c2c2c;
    background: #fff;
    border: solid 1px #2c2c2c;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: -0.2px;
    padding: 13px 15px;
    border-radius: 8px;
}

.header-icons button:hover {
    color: #e02020; /* Hover color */
}
